<!-- 
    Administrativní lišta pro styl 1
-->
<ul class="admin-menu">   
    <li class="admin-list">
        <a href="control_manager_setting.php" class="item"> Nastavení </a>
    </li> 
    <li class="admin-list">
        <a href="#" class="item"> Úprava článků </a>
    </li>
    <li class="admin-list">
        <a href="control_manager.php" class="item"> Objednávky </a>
    </li>            
</ul>        
