<!-- 
    Administrativní lišta pro styl 2
-->
<ul class="list-menu">   
    <li class="list">
        <a href="control_manager.php" class="item"> Objednávky </a>
    </li>  
    <li class="list">
        <a href="#" class="item"> Úprava článků </a>
    </li>
    <li class="list">
        <a href="control_manager_setting.php" class="item"> Nastavení </a>
    </li>           
</ul>        
