<!-- Tady se zobrazuje obsah stránky kontakty-->
<div class="content">
    <header>
        <h1>Kontakt</h1>
    </header>            
    
    <div class="contact">
        <p class="contact-title">Jan Novák</p>
        <p class="contact-line">Mail: ahoj.dd@seznam.cz</p>
        <p class="contact-line">Telefon: +420 222 333 444</p>
    </div>
    <div class="contact">
        <p class="contact-title">Adresa</p>
        <p class="contact-line">Koskova 12</p>
        <p class="contact-line">123 45 Kaktusov</p>
    </div>
</div>